debugpy 
ipykernel 
ipyleaflet
ipython
ipython-genutils
ipytree
ipywidgets
ipython-sql
jupyter-client
jupyter_core
matplotlib
matplotlib-inline
matplotlib-venn
pandas
numpy
scikit-image
scikit-learn
scipy
pillow